.about {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;

    .image-color {
        background-color: rgba($color: $blue-light, $alpha: 0.9);
        top: 0;
        left: 0;
        right: 0;
        bottom: 90px;
        position: absolute;
    }

    &-img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 90px;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .card {
        .owl-carousel {
            width: 50vw;
            right: 50%;
            left: auto;

            .image-color {
                height: 100%;
            }

            .active:not(.lastActiveItem) .image-color {
                opacity: 0;
            }
        }
    }

    &-shape {
        @include media-breakpoint-only(md) {
            .shape-about-1 {
                width: 356px;
                height: auto;
                top: 3%;
                left: -7%;
            }

            .shape-about-2 {
                width: 230px;
                height: auto;
                top: 18%;
                right: 2%;
            }

            .shape-about-3 {
                width: 52px;
                height: auto;
                top: 71%;
                left: 6%;
            }

            .shape-about-4 {
                width: 661px;
                height: auto;
                top: 25%;
                right: -24%;
            }
        }

        @include media-breakpoint-only(lg) {
            .shape-about-1 {
                width: 356px;
                height: auto;
                top: 3%;
                left: -10%;
            }

            .shape-about-2 {
                width: 230px;
                height: auto;
                top: 17%;
                right: 2%;
            }

            .shape-about-3 {
                width: 52px;
                height: auto;
                top: 53%;
                left: 0;
            }

            .shape-about-4 {
                width: 661px;
                height: auto;
                top: 23%;
                right: -22%;
            }
        }

        @include media-breakpoint-only(xl) {
            .shape-about-1 {
                width: 356px;
                height: auto;
                top: 3%;
                left: -9%;
            }

            .shape-about-2 {
                width: 230px;
                height: auto;
                top: 17%;
                right: 3%;
            }

            .shape-about-3 {
                width: 52px;
                height: auto;
                top: 53%;
                left: 0;
            }

            .shape-about-4 {
                width: 661px;
                height: auto;
                top: 23%;
                right: -14%;
            }
        }

        .shape-about-1,
        .shape-about-2,
        .shape-about-3,
        .shape-about-4 {
            position: absolute;
        }
    }

    &-content {
        padding-top: 140px;

        ul {
            padding-left: 20px;

            li {
                color: $background-color;
                margin-bottom: 25px;
            }
        }
    }

    &-title {
        font-size: 35px;
        font-weight: bold;
        color: $background-color;
        margin-bottom: 50px;
    }
}
