@import "bootstrap";
@import "variables";

.btn-primary {
    background-color: $purple;
    border-color: $purple;
    width: 160px;
    height: 60px;
    font-weight: bold;

    &:hover {
        background-color: #670468 !important;
        border-color: #670468;
    }
}

.btn-secondary {
    background-color: $blue-dark;
    border: 1px solid $blue-dark;
    color: #92ABFD;
    font-size: 16px;
    font-weight: bold;
    height: 62px !important;

    &:hover {
        background-color: #061363;
        border: 1px solid #061363;
        color: #92ABFD;
    }
}