form {
    input, select {
        margin-bottom: 25px;
        font-size: 20px !important;
        color: $blue-gray !important;
        border: 1px solid #D5D8EB !important;
        border-radius: 8px !important;
        height: 82px !important;
        
        &:focus {
            box-shadow: none !important;
        }
    }
    
    ::-webkit-input-placeholder {
        color: $blue-gray !important;
    }
    
    :-moz-placeholder { /* Firefox 18- */
        color: $blue-gray !important;
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
        color: $blue-gray !important;  
    }
    
    :-ms-input-placeholder {  
        color: $blue-gray !important;  
    }
    
    .btn {
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.footer {
    form {
        input {
            height: 62px !important;
            background-color: #0A1241 !important;
            border: 1px solid #38406E !important;
        }

        .form-newsletter_email {
            width: 105%;
        }
    }
}