.project {
    position: relative;

    .title {
        font-weight: normal;
        margin: 0 0 40px;
    }

    .owl-carousel {
        width: 60vw;
        position: relative;

        .owl-item {
            width: 545px !important;
            height: auto;
            position: relative;

            .image-color {
                position: absolute;
                background-color: rgba($color: #5D7ADA, $alpha: 0.6);
                width: 100%;
                height: 545px;
                border-radius: 50px;
            }
            
            img {
                height: 545px;
                object-fit: cover;
                border-radius: 50px;
            }
        }
        
        .owl-dots {
            display: grid;
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: -40px;

            .owl-dot {
                span {
                    background-color: $white-ice;
                }
            }

            button:focus {
                outline: transparent;
            }
            
            .active {
                span {
                    background-color: $blue-light;
                }
            }
        }
    }

    .offers {
        margin-top: 140px;
    }

    .more-project {
        .offers-icon {
            height: 70px;
        }
    }

    &_shape {
        .shape-project-4 {
            position: absolute;
            top: 5%;
            left: 5%;
        }

        .shape-project-5 {
            position: absolute;
            top: -2%;
            left: 5%;
        }

        .shape-project-6 {
            position: absolute;
            bottom: -6%;
            left: -9%;
        }

        .shape-project-7 {
            position: absolute;
            bottom: 51%;
            left: 32%;
        }

        .shape-project-8 {
            position: absolute;
            bottom: 2%;
            left: -8%;
            z-index: 1;
        }
    }
}