.top-banner {
    position: relative;
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding: 100px 0 50px;

    .cover {
        position: absolute;
        z-index: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        top: 0;
    }

    &_shape {
        .shape-1 {
            position: absolute;
            width: 200px;
            height: auto;
            right: 37%;
            top: -10%;
        }

        .shape-2 {
            position: absolute;
            width: 100px;
            height: auto;
            left: -5%;
            bottom: 25%;
        }

        .shape-3 {
            position: absolute;
            width: 130px;
            height: auto;
            right: 35%;
            top: -20%;
            mix-blend-mode: soft-light;
        }

        .shape-4 {
            position: absolute;
            width: 100px;
            height: auto;
            left: 4%;
            bottom: 42%;
            mix-blend-mode: soft-light;
        }

        .shape-5 {
            position: absolute;
            width: 200px;
            height: auto;
            right: 8%;
            bottom: 5%;
        }

        .shape-6 {
            position: absolute;
            width: 400px;
            height: auto;
            right: 2%;
            bottom: 0;
            mix-blend-mode: soft-light;
        }

        .shape-7 {
            position: absolute;
            width: 450px;
            height: auto;
            right: 13%;
            top: -30%;
            mix-blend-mode: soft-light;
        }

        .shape-8 {
            position: absolute;
            width: 100px;
            height: auto;
            left: 13%;
            bottom: 20%;
        }

        .shape-9 {
            position: absolute;
            width: 15px;
            height: auto;
            left: 13%;
            bottom: 40%;
        }

        .shape-10 {
            position: absolute;
            width: 15px;
            height: auto;
            left: 39%;
            bottom: 18%;
        }

        .shape-11 {
            position: absolute;
            width: 15px;
            height: auto;
            left: 10%;
            top: 35%;
        }

        .shape-12 {
            position: absolute;
            width: 15px;
            height: auto;
            right: 55%;
            top: 23%;
        }
    }

    &_content {
        z-index: 1;
        position: relative;
        width: 100%;
        height: auto;

        &--logo {
            width: 300px;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }

            .texto-logo {
                padding-top: 30px;
            }
        }

        p {
            padding-left: 5px;
            font-size: 20px;
            color: #DADFFB;

            span {
                font-weight: bold;
            }
        }
    }

    .btn-primary {
        margin-left: -10px;
    }
}