.top-banner {
    position: relative;
    overflow: hidden;
    width: 100vw;

    @include media-breakpoint-only(md) {
        padding: 60px 0 45px;

        &_content {
            &--logo {
                width: 250px;
    
                .texto-logo {
                    padding-top: 22px;
                }
            }

            p {
                padding-left: 22px;
            }
        }
    
        .btn-primary {
            margin-left: 8px;
            margin-top: 20px;
        }
    }

    @include media-breakpoint-only(lg) {
        padding: 60px 0 45px;

        &_content {
            &--logo {
                width: 250px;
    
                .texto-logo {
                    padding-top: 22px;
                }
            }

            p {
                padding-left: 4px;
            }
        }
    
        .btn-primary {
            margin-left: -11px;
            margin-top: 20px;
        }
    }

    @include media-breakpoint-only(xl) {
        padding: 60px 0 45px;

        &_content {
            &--logo {
                width: 300px;
    
                .texto-logo {
                    padding-top: 30px;
                }
            }

            p {
                padding-left: 8px;
            }
        }
    
        .btn-primary {
            margin-left: -4px;
            margin-top: 20px;
        }
    }
    
    &_content {
        z-index: 1;
        position: relative;
        width: 100vw;
        height: auto;
        overflow: hidden;
        
        &--logo {
            height: auto;
            
            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            font-size: 20px;
            color: #DADFFB;

            span {
                font-weight: bold;
            }
        }
    }

    .cover {
        position: absolute;
        z-index: 0;
        width: 100%;
        object-fit: cover;
        height: 100%;
        top: 0;
    }

    &_shape {
        @include media-breakpoint-only(md) {
            .shape-1 {
                width: 200px;
                right: 36%;
                top: -23%;
            }
    
            .shape-2 {
                width: 100px;
                left: -9%;
                bottom: 35%;
            }
    
            .shape-3 {
                width: 130px;
                right: 35%;
                top: -29%;
            }
    
            .shape-4 {
                width: 100px;
                left: 4%;
                bottom: 54%;
            }
    
            .shape-5 {
                width: 150px;
                right: 7%;
                bottom: 14%;
            }
    
            .shape-6 {
                width: 400px;
                right: -8%;
                bottom: -2%;
            }
    
            .shape-7 {
                width: 450px;
                right: 3%;
                top: -45%;
            }
    
            .shape-8 {
                width: 100px;
                left: 11%;
                bottom: 10%;
            }
    
            .shape-9 {
                width: 15px;
                left: 13%;
                bottom: 52%;
            }
    
            .shape-10 {
                width: 15px;
                left: 35%;
                bottom: 17%;
            }
    
            .shape-11 {
                width: 15px;
                left: 8%;
                top: 25%;
            }
    
            .shape-12 {
                width: 15px;
                right: 53%;
                top: 17%;
            }
        }

        @include media-breakpoint-only(lg) {
            .shape-1 {
                width: 200px;
                right: 36%;
                top: -23%;
            }
    
            .shape-2 {
                width: 100px;
                left: -9%;
                bottom: 30%;
            }
    
            .shape-3 {
                width: 130px;
                right: 35%;
                top: -29%;
            }
    
            .shape-4 {
                width: 100px;
                left: 4%;
                bottom: 50%;
            }
    
            .shape-5 {
                width: 150px;
                right: 7%;
                bottom: 14%;
            }
    
            .shape-6 {
                width: 400px;
                right: -8%;
                bottom: -2%;
            }
    
            .shape-7 {
                width: 450px;
                right: 3%;
                top: -45%;
            }
    
            .shape-8 {
                width: 100px;
                left: 11%;
                bottom: 10%;
            }
    
            .shape-9 {
                width: 15px;
                left: 13%;
                bottom: 52%;
            }
    
            .shape-10 {
                width: 15px;
                left: 36%;
                bottom: 17%;
            }
    
            .shape-11 {
                width: 15px;
                left: 8%;
                top: 25%;
            }
    
            .shape-12 {
                width: 15px;
                right: 53%;
                top: 17%;
            }
        }

        @include media-breakpoint-only(xl) {
            .shape-1 {
                width: 200px;
                right: 38%;
                top: -23%;
            }
    
            .shape-2 {
                width: 100px;
                left: -7%;
                bottom: 30%;
            }
    
            .shape-3 {
                width: 130px;
                right: 38%;
                top: -29%;
            }
    
            .shape-4 {
                width: 100px;
                left: 3%;
                bottom: 50%;
            }
    
            .shape-5 {
                width: 150px;
                right: 10%;
                bottom: 14%;
            }
    
            .shape-6 {
                width: 400px;
                right: -2%;
                bottom: -2%;
            }
    
            .shape-7 {
                width: 450px;
                right: 11%;
                top: -45%;
            }
    
            .shape-8 {
                width: 100px;
                left: 11%;
                bottom: 10%;
            }
    
            .shape-9 {
                width: 25px;
                left: 13%;
                bottom: 40%;
            }
    
            .shape-10 {
                width: 25px;
                left: 38%;
                bottom: 16%;
            }
    
            .shape-11 {
                width: 25px;
                left: 8%;
                top: 25%;
            }
    
            .shape-12 {
                width: 25px;
                right: 53%;
                top: 17%;
            }
        }
        
        .shape-1, .shape-2, .shape-3, .shape-4, .shape-5, .shape-6, 
        .shape-7, .shape-8, .shape-9, .shape-10, .shape-11, .shape-12 {
            position: absolute;
            height: auto;
        }
        
        .shape-3, .shape-4, .shape-6, .shape-7 {
            mix-blend-mode: soft-light;
        }
    }
}