$background-color:   #F4F6FF;
$blue:              #0033AF;
$blue-dark:         #0E1E7B;
$blue-gray:         #7980A7;
$blue-light:        #5D7ADA;
$purple:            #7A077C;
$red-light:         #BF475E;
$white-ice:         #DADFFB;
