.we-offer, .more-project {
    text-align: center;
    position: relative;
    padding-top: 100px;
    width: 100vw;
    overflow: hidden;

    .offers {
        &-icon {
            width: 70px;
            height: auto;
        }

        &-title {
            margin-top: 25px;
            font-size: 16px;
            color: $blue-gray;
            margin-bottom: 80px;
        }
    }

    &_shape {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @include media-breakpoint-only(md) {
            .shape-offer-1 {
                top: 18%;
                right: 10%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-2 {
                top: 24%;
                right: -25%;
                width: 445px;
                height: auto;
            }
            
            .shape-offer-3 {
                top: 47%;
                right: -27%;
                width: 400px;
                height: auto;
            }
            
            .shape-offer-4 {
                bottom: 6%;
                right: 14%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-5 {
                top: 34%;
                left: 9%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-6 {
                bottom: 1%;
                left: -6%;
                width: 234px;
                height: auto;
            }
            
            .shape-offer-7 {
                bottom: 19%;
                left: -15%;
                width: 291px;
                height: auto;
            }
            
            .shape-offer-8 {
                bottom: 5%;
                left: 11%;
                width: 154px;
                height: auto;
            }
        }

        @include media-breakpoint-only(lg) {
            .shape-offer-1 {
                top: 20%;
                right: 1%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-2 {
                top: 24%;
                right: -30%;
                width: 445px;
                height: auto;
            }
            
            .shape-offer-3 {
                top: 47%;
                right: -31%;
                width: 400px;
                height: auto;
            }
            
            .shape-offer-4 {
                bottom: 6%;
                right: 8%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-5 {
                top: 32%;
                left: 4%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-6 {
                bottom: -2%;
                left: -12%;
                width: 234px;
                height: auto;
            }
            
            .shape-offer-7 {
                bottom: 18%;
                left: -21%;
                width: 291px;
                height: auto;
            }
            
            .shape-offer-8 {
                bottom: 2%;
                left: 5%;
                width: 154px;
                height: auto;
            }
        }

        @include media-breakpoint-only(xl) {
            .shape-offer-1 {
                top: 20%;
                right: 5%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-2 {
                top: 24%;
                right: -26%;
                width: 445px;
                height: auto;
            }
            
            .shape-offer-3 {
                top: 47%;
                right: -27%;
                width: 400px;
                height: auto;
            }
            
            .shape-offer-4 {
                bottom: 6%;
                right: 8%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-5 {
                top: 35%;
                left: 4%;
                width: 26px;
                height: auto;
            }
            
            .shape-offer-6 {
                bottom: -2%;
                left: -9%;
                width: 234px;
                height: auto;
            }
            
            .shape-offer-7 {
                bottom: 18%;
                left: -17%;
                width: 291px;
                height: auto;
            }
            
            .shape-offer-8 {
                bottom: 2%;
                left: 5%;
                width: 154px;
                height: auto;
            }
        }
        
        .shape-offer-1, .shape-offer-2, .shape-offer-3, .shape-offer-4, 
        .shape-offer-5, .shape-offer-6, .shape-offer-7, .shape-offer-8 {
            position: absolute;
        }
    }
}